// A cover block is a full size cover with a fixed background for smaller screens.

@include td-box-height-modifiers(".td-hero-block");

.hero-gitops {
  margin-left: -15px;
  margin-right: -15px;

  @include media-breakpoint-down(md) {
    padding: 0 15px;
  }

  background: $cozy-gray;

  .td-hero-block {
    padding-bottom: 4rem;

  }

  section.row {
    margin-left: 0;
    margin-right: 0;
  }

  .hero-details {
    margin-top: 1.5rem;

    p {
      color: $cozy-white;
      font-weight: 500;
      font-size: 1.2rem;
    }

    p:first-child {
      margin-bottom: 1.5rem;
    }

  }

  p {
    color: $cozy-white;
  }

  h1 {
    color: rgba($cozy-white, 0.95);
    font-size: 2.8em;
    padding-left: 14px;
    padding-top: 50px;

    @include media-breakpoint-up(sm) {
      font-size: 2.6em;
    }
  }

  h2 {
    color: rgba($cozy-white, 0.95);
    font-weight: 600;
    font-size: 1.4em;
  }

  a {
    color: $cozy-light-blue !important;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;

    &:hover {
      color: $cozy-darkest-blue !important;
      text-shadow: -1px 1px $cozy-lighter-blue;
    }
  }

  a.btn {
    @include flat-white-button;
    border: none;
    text-decoration: none;

    margin-top: 1.5rem;
    
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;

    .fa-arrow-right {
      font-size: 1rem;
      display: block;
      float: right;
      margin: 11px 0 0 14px;
    }
  }
}

.lead-flux section {
  padding: 0rem 0 1rem 0 !important;
  background: none;


  a[aria-hidden="true"] {
    display: none;
  }

  .td-arrow-down {
    &::before {
      border: {
        color: #{$cozy-gray} transparent transparent transparent;
      }
    }
  }
}
