---
title: Cozystack - Free PaaS platform and framework for building clouds
description: > 
  With Cozystack, you can transform your bunch of servers into an intelligent system with a simple REST API for spawning Kubernetes clusters, Database-as-a-Service, virtual machines, load balancers, HTTP caching services, and other services with ease.

  You can use Cozystack to build your own cloud or to provide a cost-effective development environments.
benefits:
  - title: API-first
    icon: fas fa-code
    description: >
      Cozystack is based on Kubernetes and involves close interaction with its API. We don’t aim to completely hide the all elements behind a pretty UI or any sort of customizations; instead, we provide a standard interface and teach users how to work with basic primitives.
  - title: Standardization and unification
    icon: fas fa-certificate
    description: >
      All components of the platform are based on proven open source tools and technologies which are widely known in the industry.
      We strive to use the most standard and correct approaches, as a result the whole platform is very simple and have no vendor lock-in.
  - title: Collaborate, not compete
    icon: fas fa-handshake
    description: >
     We are proud of our community and closely interact with projects around it.
     Thus if a feature being developed for the platform could be useful to a upstream project,
     it should be contributed to upstream project, rather than being implemented within the platform.
features:
  - title: Easy to install
    icon: fas fa-wrench
    description: >
      With [talos-bootstrap](https://github.com/aenix-io/talos-bootstrap/), we provide the ultimate easy installation method,
      allowing you to bootstrap Cozystack using PXE or ISO method on a set of your servers out-of-nothing in a bare data center.
      Using immutable OS allows us to maintain system consistency and ensure that everything will work as expected.
  - title: Easy to integrate
    icon: fas fa-plug
    description: >
      We provide a native Kubernetes RESTful API, widely recognized for its declarativity.
      Therefore, to integrate with your billing, it's enough to instruct your system to submit a specific YAML manifest defining the desired service to the Kubernetes API. 
      Cozystack will do the rest of the work for you.
  - title: Easy to extend
    icon: fas fa-up-right-and-down-left-from-center
    description: >
      Each package in the platform consists of a set of YAML files. Therefore, anyone with some familiarity with Kubernetes primitives can modify or expand the platform. Delivery of packages to the system is handled by FluxCD, a well-known and widely used tool in the community.
  - title: Cost efficiency and high performance
    icon: fas fa-gauge-high
    description: >
      We care about performance. That's why we adopt the most performant technologies balancing stability and functionality.
      Moreover, our unique tenant model enables efficient allocation of cloud resources for the control plane, ensuring cost-efficiency and the necessary level of security
  - title: Monitoring included
    icon: fas fa-area-chart
    description: >
      Each instance of each service is accompanied by a set of pre-configured dashboards and alerts.
      You can create separate monitoring hubs for every tenant or combine them into one.
  - title: Dashboard
    icon: fas fa-window-maximize
    description: >
      While the primary goal of the platform is to provide a beautiful API, it also has a dashboard for deploying applications. The Web UI facilitates a quick dive into the platform and provides a visual demonstration of its capabilities.
---

<div class="hero-gitops">
  {{% blocks/hero title="Cozystack: Free PaaS platform and framework for building clouds" color="primary"
  height="full" link_title="Get started" link_url="/docs/get-started/" %}}
  With Cozystack, you can transform your bunch of servers into an intelligent system with a simple REST API for spawning Kubernetes clusters, Database-as-a-Service, virtual machines, load balancers, HTTP caching services, and other services with ease.

  You can use Cozystack to build your own cloud or to provide a cost-effective development environments.

  {{% /blocks/hero %}}

  <div class="lead-flux">
  {{< blocks/lead >}}
  {{< /blocks/lead >}}
  </div>
</div>

<!-- Benefits & Features -->

{{< home/benefits >}}
{{< home/features >}}


<!-- ADOPTERS SUBSECTION -->
{{% blocks/lead title="A project by Ænix" color="primary" %}}
<h2 class="section-label">Commercial Support</h2>

<a href="https://aenix.io/"><img src="/img/logos/aenix.svg" alt="Ænix" style="height:1.8rem;"/></a> offers enterprise-grade support, available 24/7.

We provide all types of assistance, including consultations, development of missing features, design, assistance with installation, and integration.

<a class="btn btn-lg" target="_blank" href="https://aenix.io/contact/">Contact us</a>

{{< /blocks/lead >}}

<!-- Community -->
<div class="section-community">
  {{< blocks/lead color="dark" >}}
  <h2 class="section-label">
    Community
  </h2>

  <p>We deeply appreciate the steadfast support and contributions from our community towards the growth of Cozystack. Join our community and become part of our journey.</p>

  {{< /blocks/lead >}}

  <div class="subsection-community-row">
    {{< blocks/section color="dark" type="community-row">}}

    {{< home/community icon="fab fa-github" title="GitHub Discussions" >}}
    <a target="_blank" href="https://github.com/aenix-io/cozystack/discussions">Join the conversation in GitHub Discussions</a>. Everything Cozystack related ranging from specifications and feature planning to Show & Tell happens here.

    {{< /home/community >}}

    {{< home/community icon="fab fa-slack" title="Slack" >}}
    If you want to talk to the Cozystack team and community in real-time, join us on Slack. This is a great way to get to know everyone.

    Get a <a target="_blank" href="https://slack.kubernetes.io/">Slack invite</a>, or go to the <a target="_blank" href="https://kubernetes.slack.com/messages/cozystack"><code>#cozystack</code> channel</a>.

    {{< /home/community >}}

    {{< home/community icon="fa fa-paper-plane" title="Telegram" >}}
    We also have a large community on Telegram. Join the <a target="_blank" href="https://t.me/cozystack/">@cozystack</a> group chat to engage with fellow users, ask questions, and stay updated on the latest news and developments.
    {{< /home/community >}}

    {{< /blocks/section >}}
  </div>

</div>



